@tailwind base;
@tailwind components;
@tailwind utilities;

#toggle:checked ~ label div.toggle-circle{
    @apply translate-x-4
}

body{
    font-family: 'Titillium Web'
}

.hamburger-line{
    @apply w-[30px] h-[2px] my-2 block bg-slate-800;
}

.hamburger-active > span:nth-child(1){
    @apply origin-top-left rotate-45;
}

.hamburger-active > span:nth-child(2){
    @apply scale-0;
}

.hamburger-active > span:nth-child(3){
    @apply origin-bottom-left -rotate-45;
}